@tailwind base;
@tailwind components;


.card-categoria{
     background-image:linear-gradient(45deg, #000000da, #3838382a 100%), url("/public/images/products/img-11.png");
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; /* Resize the background image to cover the entire container */
     height: 380px;
     color: white;
 }

  /*
|--------------------------------------------------------------------------
| Botones de acciones
|--------------------------------------------------------------------------
*/

.btn-eliminar {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
}
.btn-editar {
    @apply  focus:outline-none text-white bg-green-600 hover:bg-green-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-2 py-1 me-2 mb-2 dark:focus:ring-yellow-900;
}
.btn-agregar{
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}
.btn-cancelar{
    @apply px-2 py-1 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

.header-form{

    background-color: #0c71c3;
}


@tailwind utilities;

[x-cloak] {
    display: none;
}
